body,
h1.headline,
.bop .ev-label,
.bop .bar .majority,
.bop .vote-wrapper .votes,
.toggle > .toggle-label,
.timestamp,
.map-legend .legend-key,
.map-legend .legend-label,
.nav .bop-summary > .divider {
	color: #fff;
}

body {
	padding: 50px;
	background: rgba(0, 0, 0, 0.46);
}

.office-nav .nav-button .nav-label .dropdown-caret {
	border-color: #fff transparent transparent;
}

.bob .bar .divider {
	border-left: 2px solid #fff;
}
